version: '3.1'

volumes:
  db_data:
  backend_data:
  buggy-similarity_data:

services:
    
  # Spring App + Java
  backend:
    depends_on:
      - db
      - buggy-similarity
    build:
      context: ./backend
      additional_contexts:
        proto: ./proto
      dockerfile: src/main/resources/Dockerfile.backend
    environment:
      - SPRING_PROFILES_ACTIVE=container
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}

      - GRPC_HOSTNAME_BUGGY_SIMILARITY=buggy-similarity
      - GRPC_PORT_BUGGY_SIMILARITY=8080
    volumes:
      - backend_data:/backend/data/
    
  # postgres
  db:
    image: postgres:15.2-alpine3.17
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:

      # NOTE: the following values must be specified in the corresponding
      # environment variables before launching this docker compose file.
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
      
      PGDATA: /var/lib/postgresql/data
  
  # Buggy simmilarity miner
  buggy-similarity:
    build:
      context: ./TestRequirementSimilarityLaProvaV8
      additional_contexts:
        proto: ./proto
      dockerfile: src/main/resources/Dockerfile.buggysimilarity
    environment:
      - GRPC_PORT=8080
    expose:
      - 8080
    volumes:
      - buggy-similarity_data:/buggy-similarity/data/
    